
<div id='game'> </div>
<%= javascript_tag do %>
  var gameData = <%= @game.to_s.html_safe %>;
  var game = React.createElement(Game, {gameData: gameData});
  React.render(game, document.getElementById('game'));
<% end %>
